**/out/*
**/Intermediate**/
/bld/**
**/PackagedBuilds/*
**/PackagedProjectSystem/*
**/PackagedAssetCompiler/*
PackagedBundle.json
**/Projects/*
Code/Build/*
Code/cmake-build-*/
cmake-build-pre-commit/*
build/*

.vs/*
**/.vs/*
.vscode/*
**/.vscode/*
**/layerLib/*

*.*codeanalysis*

*.app
*.dSYM
*.pdb
*.ilk
*.dbg
*.exp
*.map

**/cmake/share/
**/*.DS_Store

# No compiled assets
*.statobj
*.mesh
*.tex.bc
*.tex.astc
*.fragshader
*.vertshader
*.geomshader
*.compshader

/bin/*
/lib/*
**/lib/*
**/bin/*

# Ignore projects / products in the same directory
/Products/*
Products.json
/Projects/*
Projects.json

# Include gradle temporaries
**/.gradle
**/.idea
**/.cxx
**/local.properties
Code/gradle
